<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Personal Website</title>
</head>
<body>
    
    <header>

        <div class="profile">
            <img src="https://images.unsplash.com/photo-1587837073080-448bc6a2329b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cG9ydGZvbGlvJTIwaW1hZ2UlMjBtZW58ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60" width="150px" alt="">
            <h1>R.kumawat</h1>
            <div class="socialmedia">
                <a href="https://www.linkedin.com/in/ravi-kumawat-965a3424a/" target="_blank"><i class="fa-brands fa-linkedin" ></i></a>
                <a href="https://instagram.com/ravi__7982?igshid=ZGUzMzM3NWJiOQ=="  target="_blank" ><i class="fa-brands fa-instagram"></i></a>
                <a href="https://github.com/"  target="_blank" ><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <nav>
            <ul>
                <li><a  href="#home" ><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="#about" ><i class="fa-solid fa-user"></i>About me</a></li>
                <li><a href="#skill" ><i class="fa-solid fa-briefcase"></i>Skills</a></li>
                <li><a href="#portfolio" ><i class="fa-solid fa-server"></i>portfolio</a></li>
                <li><a href="#contact" ><i class="fa-solid fa-envelope"></i>Contact</a></li>
            </ul>
        </nav>
        <div class="footer">
            <p>&copy; copyright 2023  <br> Designed by <span>Ravi.k</span>  </p>
        </div>
        <i class="fa-solid fa-bars" id="menuebtn"></i>

    </header>
    
    <!--Home section-->
<main>
<section id="home">
    <div class="home-row">
        <h1>Hi This,<br> Ravi Kumawat <Span>.</Span></h1>
        <p>I'm a <span class="autoinp"></span></p>
    </div>
</section>

<!--Home section Ends-->

<!--About -->


<section id="about">

    <h1 class="sub-heading">About me</h1>
    <div class="divider"></div>
    <p class="sub-para">Hello my name is Kumawat Ravi currently Computer Science student, at Parul University,Vadodara. I m interested in learning latest Technology regarding computers.I m good in frontend as well as in backend. I always believe in upgrading myself. This is a personal Website is created to show my skills, project.  </p>
    <div class="about-col">
        <div class="img-col">
        <img src="/static/images/pngegg2.png" alt="">
        </div>
   
        <div class="info-col">
            <h2>Frontend-Developer</h2>
            <p>A Front-End Developer with entry-level experience specializing in web development, user interface design, HTML, and AngularJS. Adept at identifying opportunities to enhance front-end design and improve the user experience.</p>
            <div class="icon-list-col">
                <div class="icon-list">
                    <ul>
                        <li><i class="fa-solid fa-angle-right"><strong>Birthday:</strong><span>29 Dec,2003</span></i></li>
                        <li><i class="fa-solid fa-angle-right"><strong>Phone:</strong><span>+91 7802967374</span></i></li>
                        <li><i class="fa-solid fa-angle-right"><strong>City:</strong><span>Vapi,Vadodara</span></i></li>
                    </ul>
                </div>
                <div class="icon-list i-2">
                    <ul>
                        <li><i class="fa-solid fa-angle-right"><strong>Age:</strong><span>19</span></i></li>
                        <li><i class="fa-solid fa-angle-right"><strong>Degree:</strong><span>Bachelors</span></i></li>
                        <li><i class="fa-solid fa-angle-right"><strong>Email:</strong><span>kumawatravi9426@gmail.com</span></i></li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

                                                    <!--About Ends-->

                                                    <!--Fact section-->
<section id="skill">
    <h1 class="sub-heading">Skills</h1>
    <div class="divider"></div>
    <p class="sub-para">Believe in upgrading everyday and learning. Passionate about learning and Goal Oriented.</p>
   
    <div class="skill-row">
        <div class="skill-box">
            <div class="skill-info">
                <h2>HTML</h2>
                <h2>85%</h2>
            </div>
                <div class="skill-outer-line">
                    <div class="skill-inner-line" style="width:85%;"> </div>
                </div>
        </div>
        <div class="skill-box">
            <div class="skill-info">
                <h2>CSS</h2>
                <h2>85%</h2>
            </div>
                <div class="skill-outer-line">
                    <div class="skill-inner-line" style="width:85%;">
                        
                    </div>
                </div>
        </div>
    
        <div class="skill-box">
            <div class="skill-info">
                <h2>Javascript</h2>
                <h2>80%</h2>
            </div>
                <div class="skill-outer-line">
                    <div class="skill-inner-line" style="width:80%;">
                        
                    </div>
                </div>
        </div>
    
        <div class="skill-box">
            <div class="skill-info">
                <h2>Web Design</h2>
                <h2>75%</h2>
            </div>
                <div class="skill-outer-line">
                    <div class="skill-inner-line" style="width:75%;">
                    </div>
                </div>
        </div>
    
        <div class="skill-box">
            <div class="skill-info">
                <h2>Bootstrap</h2>
                <h2>90%</h2>
            </div>
                <div class="skill-outer-line">
                    <div class="skill-inner-line" style="width:90%;">
                        
                    </div>
                </div>
        </div>
    
        <div class="skill-box">
            <div class="skill-info">
                <h2>Node js</h2>
                <h2>80%</h2>
            </div>
                <div class="skill-outer-line">
                    <div class="skill-inner-line" style="width:80%;"> </div>
                </div>
        </div>
        <div class="skill-box">
            <div class="skill-info">
                <h2>Mongoose</h2>
                <h2>80%</h2>
            </div>
            <div class="skill-outer-line">
                    <div class="skill-inner-line" style="width:80%;"> </div>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-info">
                <h2>Express js</h2>
                <h2>80%</h2>
            </div>
                <div class="skill-outer-line">
                    <div class="skill-inner-line" style="width:80%;"></div>
                </div>
           
        </div>
    </div>


</section>


                                                    <!--Skills section Ends-->

<section id="resume">
    <h1 class="sub-heading">Resume</h1>
    <div class="divider"></div>
    {{!-- <p class="sub-para">.</p> --}}
    <div class="resume-row">
        <!--left col-->
        <div class="resume-col">
            <h2>Summary</h2>
            <div class="my-info">
                <h3>Ravi.K</h3>
                <p>Accomplished professional with expertise in planning,
designing, and implementing high-quality websites. Skilled in
HTML, CSS, JavaScript, and Nodejs,Mongodb etc . Proven ability to
quickly understand requirements, create innovative
solutions, and complete projects within tight deadlines.</p>
                <ul>
                    <li>Balitha vapi ,A-307</li>
                    <li>+91 7802967374</li>
                    <li>kumawatravi9426@gmail.com</li>
                </ul>
            </div>
            <h2>Education</h2>
            <div class="my-edu">
                <h3> Pursuing Bachelors in Computer Science and Engineering</h3>
                <span class="sp-box">2021-2025</span>
                <p>Parul Institute of Technology</p>
                <p>CGPA 8.08</p>
            </div>
        </div>

        <!--Right col-->
        <div class="resume-col">
            <h2>CERTIFICATIONS</h2>
            <div class="pro-exp">
                <h3>Front-End Web Development ESSENTIALS</h3>
                <ul>
                    <li>This was the certifications of completion about learning Front-End.</li>
                    <li><a href="https://cert.devtown.in/verify/2pzQ44">Certificate</a></li>
                   
                </ul>
            </div>
            <div class="pro-exp">
                <h3>Front-End Web Development using JavaScript and React.js</h3>
                <ul>
                    <li>This certificate indicates that the entire Front-End Web Development using JavaScript and React.js was completed by the student.</li>
                    
                    <li><a href="https://cert.devtown.in/verify/29kdEf">Certificate</a><li>
                </ul>
            </div>
            <div class="pro-exp">
                <h3>Server Authentication using Express and NodeJS</h3>
                <ul>
                    <li>Here I learn how server worked how actually backend works</li>
                    <li>Below some projects availables look one time</li>
                    <li><a href="https://cert.devtown.in/verify/Zo0Fpo">Certificate</a><li>
                </ul>
            <div class="down">
                 <a href="./" download='image' class="download-btn">Download Resume
                <i class="fa fa-download"></i></a>
            </div>
            </div>
        </div>
    </div>
</section>


<!--portfolio secction-->

<section id="portfolio">
    <h1 class="sub-heading">portfolio</h1>
    <div class="divider"></div>
    <p class="sub-para">This are the some project that i have created using different languages.
        some are use HTML,CSS,Js while some are Nodejs Express Mongodb and more. </p>
    <div class="port-row">
        <div class="port-item">
            <div class="port-img">
                <img src="https://e7.pngegg.com/pngimages/444/965/png-clipart-hospital-with-doctor-and-nurse-illustration-health-care-maternal-health-hospital-child-cartoon-maternal-and-child-health-care-hospital-cartoon-character-child-thumbnail.png" alt="" height="220px">
            </div>
            <div class="port-info">
                <h4>Hospital Web</h4>
                <p>It is a complete responsive website which i have been created using Html,css,Js included animations through swiperjs</p>
                <a href="https://ravi-480.github.io/hopitalwebsite/" target="_blank" ><i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
        </div>
        <div class="port-item">
            <div class="port-img">
                <img src="https://e7.pngegg.com/pngimages/807/8/png-clipart-vegetables-fruits-and-vegetables-fruits-and-vegetables-vegetables-fruits-and-vegetables-thumbnail.png" height="220px" alt="">
            </div>
            <div class="port-info">
                <h4>Vegetable Site</h4>
                <p>Fully responsive landing website developed using Html css and Javascript</p>
                <a href="https://ravi-480.github.io/vegetableproject/" target="_blank" ><i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
        </div>
        <div class="port-item">
            <div class="port-img">
                <img src="https://e7.pngegg.com/pngimages/216/908/png-clipart-website-development-responsive-web-design-front-end-web-development-front-and-back-ends-website-building-thumbnail.png" height="220px" alt="">
            </div>
            <div class="port-info">
                <h4>Wordpress</h4>
                <p>Lorem ipsum dolor, sit amet cons adipisicing elit. Quia rem, voluptatem qui id iste suscipit sequi, quae aliquid</p>
                <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
        </div>
    </div>

</section>


<section id="contact">
    <h1 class="sub-heading">Contact me</h1>
    <div class="divider"></div>
    <p class="sub-para">Contact me on email , Linkedin, Whatsapp , Instagram. Avaikable for Remote work and available offline in Vadodara </p>



<div class="contact-row">
    <div class="contact-left">
        <div class="icon-box">
            <div class="icon">
                <i class="fa-solid fa-envelope">
                </i>
            </div>
            <div class="info">
                <h4>Email:</h4>
                <p>kumawatravi9426@gmail.com</p>
            </div>
        </div>
        <div class="icon-box">
            <div class="icon">
                <i class="fa-solid fa-phone">
                </i>
            </div>
            <div class="info">
                <h4>Call:</h4>
                <p>+91 7802967374</p>
            </div>
        </div>
        <div class="icon-box">
            <div class="icon">
                <i class="fa-solid fa-location-dot">
                </i>
            </div>
            <div class="info">
                <h4>Location:</h4>
                <p>Vadodara,Gujarat</p>
            </div>
        </div>
    </div>

    <div class="contact-right">
        <form action="/contactform" method="POST">
        <p class="sub-para"> You can give us feedback here....</p>
            <input type="text" name="name" placeholder="Your name">
            <input type="email" name="email" placeholder="your email" >
            <input type="text" name="subject" id="subject" placeholder="subject">
            <textarea name="msg" id="msg"  rows="9" placeholder="Your message"></textarea>
            <input type="submit" name="submit" value="Send a message">
            {{!-- <p class="sub-para" style="color:rgba(236, 42, 42, 0.779)">*Notice its just dummy contact so you can use fake email to re</p> --}}
        </form>
    </div>
</div>  

</section>





</main>



































</body>
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script src="/static/js/script.js"></script>
<script src="https://kit.fontawesome.com/1b40e815b2.js" crossorigin="anonymous"></script>
</html>